@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  .custom-select {
    font-size: 1rem; /* Ajustez la taille de la police selon vos besoins */
  }






  form {
    display:block;
    flex-direction:row;
  }

  .text-input {
    margin-bottom: 10px;
  }


